{%extends "layout.html"%}

{%block content%}
<div class="bg-dark text-light p-5 box rounded-2 m-3" data-bs-theme="dark">
    <h1 class="display-4">Scientifiks Platform App - Creada por Ana Saied</h1>
    <h3 class="lead">Se hacen uso de tecnologias como: </h3>
    <hr class="my-4">
    <ul>
        <li>Python</li>
        <li>MariaDB</li>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Framework Flask como backend</li>
        <li>Docker</li>
        <li>Sistema operativo GNU/Linux</li>
    </ul>
</div>
{%endblock%}